{% extends 'staff/index.html' %}
{% load static %}
{% block content %}

    <div class="table-wrapper">
        <table class="table table-border table-striped" style="width:100%;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">PURCHASE BILL NO</th>
                    <th scope="col">BARCODE</th>
                    <th scope="col">PRODUCT DESCRIPTION</th>
                    <th scope="col">ARTICLE NO</th>
                    <th scope="col">SIZE</th>
                    <th scope="col">QUANTITY</th>
                    <th scope="col">FREE</th>
                    <th scope="col">PRODUCT PRICE</th>
                    <th scope="col">MRP</th>
                    <th scope="col">TAX</th>
                    <th scope="col">DISCOUNT1</th>
                    <th scope="col">DISCOUNT AMOUNT1</th>
                    <th scope="col">DISCOUNT2</th>
                    <th scope="col">DISCOUNT AMOUNT2</th>
                    <th scope="col">L_COST</th>
                    <th scope="col">TOTAL COST</th>
                    <th scope="col">SELLING PRICE</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">MARGIN</th>
                </tr>
            </thead>

           <tbody>
                <tr>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td scope="row"></td>
                    <td>
                        <a href="" class="btn btn-info">Edit</a>
                    </td>
                </tr>
           </tbody> 
        </table>
    </div>

{% endblock %}